.container-cadastro {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 12px;
}

h2 {
    color: rgb(49, 70, 185);
    font-size: 32px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding: 30px;
    border-radius: 10px;
    background-color: #F3F6FB;
    max-width: 50%;
    width: 400px;
    margin-bottom: 20px;
}

form button {
    border-radius: 30px;
    background-color: rgb(49, 70, 185);
    color: white;
    height: 40px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

form input {
    border: 1px solid #48456C;
    border-radius: 10px;
    height: 30px;
    padding-left: 10px;
    outline: none;
}

form select {
    border: 1px solid #48456C;
    border-radius: 10px;
    height: 30px;
    padding-left: 10px;
    outline: none;
    background-color: white;
}

.checkbox-label {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 15px;
}

.container-cadastro button:last-of-type {
  background: #dde1f6;
  color: #363636;
}